<section class="container-fluid" id="section1">
    <div class="v-center">
        <h1 class="text-center" id="homepage-title">Farmer Frank's Fruit Stand</h1>
        <h2 class="text-center" id="homepage-subtitle">Discover the best fruit stands in Connecticut.</h2>
        <p class="text-center">
            <br>
            <%= link_to "View Farms", fruit_import_path, class: "btn btn-lg btn-success" %>
        </p>
    </div>
</section>